// Application Environment Settings

// The path to the xcconfig file for CocoaPods.
#include "Pods/Target Support Files/Pods-Alfred/Pods-Alfred.debug.xcconfig"
#include "Pods/Target Support Files/Pods-Alfred/Pods-Alfred.release.xcconfig"

// Environment info (DEVELOP || STAGE || MASTER)
ENVIRONMENT_NAME = DEVELOP

API_BASE_URL =
API_KEY =

// App info
APP_DISPLAY_NAME =
APP_BUNDLE_ID =
REVERSED_CLIENT_ID = 

// Tenant ID
TENANT_ID =

// Firebase DeepLink URL
FIREBASE_DEEPLINK_URL =
