// Application Environment Settings

// The path to the xcconfig file for CocoaPods.
#include "Pods/Target Support Files/Pods-Allie/Pods-Allie.debug.xcconfig"
#include "Pods/Target Support Files/Pods-Allie/Pods-Allie.release.xcconfig"

// Environment info (DEVELOP || STAGE || MASTER)
ENVIRONMENT_NAME = DEVELOP

API_BASE_URL =
API_KEY =

// App info
APP_DISPLAY_NAME =
APP_BUNDLE_ID =
REVERSED_CLIENT_ID = 

// Tenant ID
TENANT_ID =

// Firebase DeepLink URL
FIREBASE_DEEPLINK_URL =

SUPPORT_EMAIL = 

ZENDESK_APP_ID = 
ZENDESK_CLIENT_ID = 
ZENDESK_URL =
ZENDESK_CHAT_ACCOUNT_KEY =
ZENDESK_CHAT_APP_ID =
