// Application Environment Settings

// The path to the xcconfig file for CocoaPods.
#include "Pods/Target Support Files/Pods-Allie/Pods-Allie.debug.xcconfig"
#include "Pods/Target Support Files/Pods-Allie/Pods-Allie.release.xcconfig"

// Environment info (QA || DEVELOP || STAGE || MASTER)
ENVIRONMENT_NAME = DEVELOP

API_BASE_HOST =
API_VERSION =

// App info
APP_BUNDLE_ID =
REVERSED_CLIENT_ID = 

// Firebase DeepLink URL
FIREBASE_DEEPLINK_URL =

SUPPORT_EMAIL = 

ZENDESK_APP_ID = 
ZENDESK_CLIENT_ID = 
ZENDESK_URL =
ZENDESK_CHAT_ACCOUNT_KEY =
ZENDESK_CHAT_APP_ID =
